<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="./image/profile.jpg" /> 
        </div>
        {{>footer}}
    </body>
</html>