<!DOCTYPE html>
<html>
    <head>
        <title>wheather</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site for get wheather Information..</p>
            <form>
                <input placeholder="Enter location">
                <button>Search</button>
            </form>

            <p id="messageOne"></p>
            <p id="messageTwo"></p>
        </div>
        {{>footer}}
         <script src="js/clientapp.js"></script>
    </body>
</html>
